<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openemu.system.n64</key>
	<dict>
		<key>controllerBindings</key>
		<dict>
			<key>OEController</key>
			<array>
				<dict>
					<key>OEN64AnalogLeft</key>
					<string>OEControllerLeftAnalogLeft</string>
					<key>OEN64AnalogUp</key>
					<string>OEControllerLeftAnalogUp</string>
					<key>OEN64ButtonA</key>
					<string>OEControllerButtonCross</string>
					<key>OEN64ButtonB</key>
					<string>OEControllerButtonSquare</string>
					<key>OEN64ButtonCLeft</key>
					<string>OEControllerRightAnalogLeft</string>
					<key>OEN64ButtonCUp</key>
					<string>OEControllerRightAnalogUp</string>
					<key>OEN64ButtonDPadUp</key>
					<string>OEControllerDPadUp</string>
					<key>OEN64ButtonL</key>
					<string>OEControllerButtonL1</string>
					<key>OEN64ButtonR</key>
					<string>OEControllerButtonR1</string>
					<key>OEN64ButtonStart</key>
					<string>OEControllerButtonOptions</string>
					<key>OEN64ButtonZ</key>
					<string>OEControllerButtonR2Button</string>
				</dict>
			</array>
			<key>OEControllerSonyPS4Dualshock4</key>
			<array>
				<dict>
					<key>OEN64AnalogLeft</key>
					<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
					<key>OEN64AnalogUp</key>
					<string>OEControllerSonyPS4Dualshock4LeftAnalogUp</string>
					<key>OEN64ButtonA</key>
					<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
					<key>OEN64ButtonB</key>
					<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
					<key>OEN64ButtonCLeft</key>
					<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
					<key>OEN64ButtonCUp</key>
					<string>OEControllerSonyPS4Dualshock4RightAnalogUp</string>
					<key>OEN64ButtonDPadUp</key>
					<string>OEControllerSonyPS4Dualshock4DPadUp</string>
					<key>OEN64ButtonL</key>
					<string>OEControllerSonyPS4Dualshock4ButtonL1</string>
					<key>OEN64ButtonR</key>
					<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
					<key>OEN64ButtonStart</key>
					<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
					<key>OEN64ButtonZ</key>
					<string>OEControllerSonyPS4Dualshock4ButtonR2</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
